.main {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 48rem;
}

@media (prefers-color-scheme: dark) {
  .main {
    background-color: black;
  }
}

@media (min-width: 640px) {
  .main {
    width: 100%;
  }
}
