.list {
  margin-top: 2rem;
  padding: initial;
  max-width: 26rem;
  list-style: none;
}

.item + .item {
  margin-top: 1rem;
}

.link {
  padding: 1rem;
  display: block;
  color: rgb(9 9 11); /* text-zinc-950 */
  border: 1px solid #e7e7e7;
  border-radius: 0.5rem;
  transition: border-color 0.3s ease-out;
}

@media (any-hover: hover) {
  .link:hover {
    border-color: #0070f3;
  }
}

.title {
  font-size: 1.2rem;
}

.description {
  font-size: 1rem;
  color: rgb(82 82 91);
  transition: color 0.3s ease-out;
}

@media (any-hover: hover) {
  .link:hover .description {
    color: #0070f3;
  }
}
