.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #eaeaea;
}

.anchor {
  padding: 4px 12px;
  font-size: 1.2rem;
  color: #000;
  text-decoration: underline;
  transition: color 0.3s ease-out;
}

@media (any-hover: hover) {
  .anchor:hover {
    color: #0070f3;
  }
}