.footer {
  margin-top: auto;
  padding-block: 0.5rem;
  background-color: rgb(31 41 55); /* bg-gray-800 */
  color: white;
}

.container {
  max-width: 1280px; /* container */
  margin: 0 auto; /* mx-auto */
  text-align: center;
}
